/**********************/
/***GENERAL***********/

.home_container {
  height: 100vh;
}

.main_panel {
  @include flexCenter();
  flex-direction: row;
}

/**********************/
/***DAY/NIGHT MODE****/

.nightmode {
  background: rgb(2, 26, 32);
  height: 100vh;
  color: #fff;
  .sidebar {
    border: solid 1px #fff;
  }
  .chatbox {
    border: solid 1px #fff;
  }
}

.daymode {
  background: #fff;
  height: 100vh;
  color: #000;
  .sidebar {
    border: solid 1px #000;
  }
  .chatbox {
    border: solid 1px #000;
  }
}

.mode_button {
  background: $primaryBtn;
  &:hover {
    background: red;
  }
}

/**********************/
/***SIDEBAR***********/

.sidebar {
  width: 20%;
  height: 95vh;
}

/**********************/
/***CHATBOX***********/

.chatbox {
  width: 80%;
  height: 95vh;
  display: flex;
  flex-direction: column;
}

// Text input
.text_display {
  display: flex;
  height: 80%;
  width: 95%;
  padding: 20px;
  align-content: flex-start;
  margin-left: 70px;
}

.text_input {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
}
.text_input-bar {
  width: 92%;
  align-self: center;
  margin-top: 45%;
}

.text_input-button {
  height: 20px;
  margin-top: 45%;
  margin-right: 10px;
}
