/**********************/
/***GENERAL***********/

.home_container {
  height: 100vh;
  margin-top: 15px;
}

.main_panel {
  @include flexCenter();
  flex-direction: row;
  height: 92vh;
  justify-self: center;
  overflow: hidden;
}

/**********************/
/***DAY/NIGHT MODE****/

.nightmode {
  background: rgb(2, 26, 32);
  height: 100%;
  color: #fff;
  .sidebar {
    border: solid 1px #fff;
  }
  .chatbox {
  }
}

.daymode {
  background: #fff;
  height: 100%;
  color: #000;
  .sidebar {
    border: solid 1px #000;
  }
  .chatbox {
    border: solid 1px #000;
  }
}

.mode_button {
  background: $primaryBtn;
  &:hover {
    background: red;
  }
}

/**********************/
/***SIDEBAR***********/

.sidebar {
  width: 20%;
  height: 100%;
}

/**********************/
/***CHATBOX***********/

.chatbox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chatbox::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

// Text input
.text_display {
  display: flex;
  height: 80%;
  width: 100%;
  padding: 20px;
  align-content: flex-start;
  margin-left: 70px;
}

.text_input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  position: absolute;
  margin-left: 15px;
}
.text_input-bar {
  width: 100%;
  height: 67px;
  border-radius: 4px;
}

.text_input-button {
  height: 20px;
  margin-right: 10px;
  display: none;
}

.text_display-username {
}
.text_display-date {
  color: rgb(255, 136, 0);
}
.text_display-chat {
}

/**********************/
/***AUTH MODALS***********/

.authModals {
}

#signin-modal {
  display: none;
  position: absolute;
}

#signup-modal {
  display: none;
  position: absolute;
}
