/**********************/
/***GENERAL***********/

.home_container {
  height: 100vh;
}

#main_panel {
  position: relative;
  @include flexCenter();
  flex-direction: row;
  height: 98vh;
  justify-self: center;
  overflow: hidden;
}

/**********************/
/***DAY/NIGHT MODE****/

.nightmode {
  background: rgb(2, 26, 32);
  height: 100%;
  color: #fff;
  .mode_button,
  .sidebar_button {
    color: #fff;
    border: 0px;
    border-radius: 2px;
  }
}

.daymode {
  background: #fff;
  height: 100%;
  color: #000;
  .mode_button,
  .sidebar_button {
    text-decoration: none;
    color: #000;
    border: 0px;
    border-radius: 2px;
    &:hover {
      background: $primaryBtn;
      color: #fff;
    }
  }
}

/**********************/
/***SIDEBAR***********/

.sidebar {
  position: absolute;
  right: 79%;
}
.channels {
  @include flexCenter();
  margin-left: 5%;
  width: 90%;
  height: 80%;
  margin-top: 25px;
  border: 1px solid #fff;
}

.mode_button {
  outline: none;
  font-size: 120%;
  width: 100%;
  margin: 10px 0px;
  background: rgba(255, 255, 255, 0);
  &:hover {
    background: $primaryBtn;
  }
}

.sidebar_buttons {
  outline: none;
  display: flex;
  flex-direction: column;
  .sidebar_button {
    outline: none;
    font-size: 120%;
    width: 100%;
    margin: 10px 0px;
    background: rgba(255, 255, 255, 0);
    &:hover {
      background: $primaryBtn;
    }
  }
}

.daymode .sidebar {
  width: 20%;
  height: 95%;
  border: 1px solid #000;
  margin-left: 10px;
}
.nightmode .sidebar {
  width: 20%;
  height: 95%;
  border: 1px solid #fff;
  margin-left: 10px;
}

/**********************/
/***CHATBOX***********/
#chatbox {
  position: absolute;
  width: 100%;
  height: 87%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  left: 22%;
  top: 3%;
}

#chatbox::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

// Text input
.user_display {
  display: flex;
  height: 80%;
  width: 100%;
  padding: 20px;
  align-items: flex-start;
}

.text_display {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  margin-bottom: 40px;

  justify-content: flex-start;

  .user_icon-img,
  .user_icon {
    height: 40px;
    width: 40px;
  }
  .chat-text {
    display: flex;
    margin-left: 8px;
    margin-top: 5px;
  }

  .name-and-date {
    display: flex;
    .text_display-username {
      display: flex;
      margin-right: 5px;
      margin-left: 8px;
    }
    .text_display-date {
      color: rgb(255, 136, 0);
    }
    .user-icon {
      margin-top: 2px;
    }
    .user-info-and-chat {
      display: flex;
      justify-self: flex-start;
      justify-content: center;
      align-items: center;
    }
  }
  //
}

.text_input {
  position: absolute;
  left: 22%;
  bottom: 2%;
  width: 74%;
}

textarea {
  outline: none;
  width: 100%;
  padding: 20px;
  height: 40px;
  border-radius: 6px;
  font-size: 140%;
  resize: none;
}

.text_input-button {
  display: none;
}

/**********************/
/***AUTH MODALS***********/
// Styling in separate scss files
.authModals {
  z-index: 99;
  display: flex;
  justify-content: center;
}

// Loader

.lds-circle-night,
.lds-circle-day {
  z-index: 999;
  position: absolute;
  left: 58%;
  transform: translateZ(1px);
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #fff;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-circle-day {
  background: rgb(2, 26, 32);
}

@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
