#profile-modal {
  @include modal();
  left: -120%;
  width: 95%;
  height: 250px;
  border-radius: 3px;
  justify-self: center;
  padding: 10px;
  background-color: rgb(240, 240, 240);
  animation-name: slide-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.profile-page {
  @include flexCenter();
  flex-direction: column;
}

.change-user-image {
  margin-bottom: 20px;
  @include flexCenter();
  margin-top: 20px;
  width: 100%;
}

.upload-button {
  width: 50%;
}

.change-user-name {
  position: absolute;
  top: 65%;
  left: 8%;
}

.modal-header {
  color: black;
}

@keyframes slide-in {
  100% {
    left: 0;
  }
}
