@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin modal() {
  display: none;
  position: absolute;
  background: rgb(223, 220, 220);
  margin-top: 50px;
}
