@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin modal() {
  margin-top: 100px;
  display: none;
  position: absolute;
  background: rgb(223, 220, 220);
}
